# Ignore build directories
/build/
/build-rpi/
/bin/
/lib/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
CMakeUserPresets.json

# Conan specific files
/conanbuildinfo.cmake
/conan.lock
/conanfile.lock
/conanbuild/
conaninfo.txt
profile.txt
gmon.out

# Ignore executables and object files
*.exe
*.o
*.obj
*.dll
*.so
*.dylib

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.bak

# Ignore IDE specific files
.idea/
.vscode/
*.code-workspace
.aider*
